<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
        <div class="subheader-inner">
            <h1>Menu v1</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Menu v1</li>
                </ol>
            </nav>
        </div>

    </div>
</div>
<!-- Subheader End -->

<!-- Menu Categories Start -->
<div class="ct-menu-categories menu-filter">
    <div class="menu-category-slider d-flex justify-content-center">
        <a (click)="seleccionarDepartamento(departamentos)" *ngFor="let departamentos of Departamentos" class="ct-menu-category-item m-3 ">
            <div class="menu-category-thumb">
                <img [src]="departamentos.img" alt="category">
            </div>
            <div class="menu-category-desc">
                <h6>{{departamentos.Nombre}}</h6>
            </div>
        </a>
    </div>
</div>



<div class="d-flex justify-content-center">
    <div class="container m-5 ">

        <div class=" row ">

            <!-- Product Start -->

            <div class="col-lg-4 col-md-12 " *ngFor="let product of getProductosPorDepartamento() ">

                <div class="product animate__animated animate__bounceInUp  ">
                    <a class="product-thumb " routerLink='/menu-item-v1'> <img src="assets/img/prods-sm/5.png " alt="menu item " /> </a>
                    <div class="product-body ">
                        <div class="product-desc ">
                            <h4> <a routerLink='/menu-item-v1'>{{product.Nombre}}</a> </h4>
                            <p>{{product.Descripcion}}</p>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Tamaños</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option *ngFor="let size of product.Size">{{size.Size}}</option>
                                </select>
                            </div>


                            <div (click)="sumProductos()"></div>
                            <angular-input-counter class="m-5" [min]="1" [max]="20" [step]="1" [readonly]="true" [(counterValue)]="counterValue" [color]="'primary'"></angular-input-counter>
                            <p class="product-price ">Lps. {{product.Size[0]?.Precio}}</p>
                            <div class="favorite ">
                                <i class="far fa-heart "></i>
                            </div>
                        </div>
                        <div class="product-controls " (click)="aggToCart(product)">
                            <a class="order-item btn-custom btn-sm shadow-none ">Ordenar <i class="fas fa-shopping-cart "></i> </a>
                            <!-- <a href="# " class="btn-custom secondary btn-sm shadow-none " data-toggle="modal " data-target="#customizeModal "> Customize <i class="fas fa-plus "></i> </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product End -->
    </div>
</div>

<!-- Menu Wrapper End -->