<app-header></app-header>
<!-- Subheader Start -->
<div class="subheader dark-overlay dark-overlay-2" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
        <div class="subheader-inner">
            <h1>Menu v1</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Menu</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Menu v1</li>
                </ol>
            </nav>
        </div>

    </div>
</div>
<!-- Subheader End -->

<!-- Menu Categories Start -->
<div class="ct-menu-categories menu-filter">
    <div class="container ">
        <div class="menu-category-slider d-flex justify-content-center">
            <a *ngFor="let departamentos of Departamentos | async" class="ct-menu-category-item m-3 ">
                <div class="menu-category-thumb">
                    <img [src]="departamentos.img" alt="category">
                </div>
                <div class="menu-category-desc">
                    <h6>{{departamentos.Nombre}}</h6>
                </div>
            </a>






        </div>
    </div>
</div>
<!-- Menu Categories End -->

<!-- Menu Wrapper Start -->
<div class="section section-padding">
    <div class="container">

        <div class="menu-container row">
            <!-- Product Start -->
            <div *ngFor="let product of Productos.slice(0 , 10)" class="col-lg-4 col-md-6 mt-3">
                <div class="product">
                    <a class="product-thumb" routerLink='/menu-item-v1'> <img [src]="product.Imagen" alt="menu item" /> </a>
                    <div class="product-body">
                        <div class="product-desc">
                            <h4> <a routerLink='/menu-item-v1'>{{product.Nombre}}</a> </h4>
                            <p>{{product.Descripcion}}</p>
                            <!-- <p class="product-price">{{product.Size[Precio]}} -->
                            <div class="favorite">
                                <i class="far fa-heart"></i>
                            </div>
                        </div>
                        <div class="product-controls">
                            <a href="#" class="order-item btn-custom btn-sm shadow-none">Order <i class="fas fa-shopping-cart"></i> </a>
                            <a href="#" class="btn-custom secondary btn-sm shadow-none" data-toggle="modal" data-target="#customizeModal"> Customize <i class="fas fa-plus"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product End -->
        </div>
    </div>
</div>

<!-- Menu Wrapper End -->
<app-footer></app-footer>