<app-header></app-header>




<div class="m-5 justify-content-center  ">
    <!-- Order Details Start -->
    <div class="table-responsive-xl">
        <table class="">
            <thead>
                <tr class="text-center">
                    <th>Pedido #</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha entrega</th>
                    <th>Estado Pedido</th>
                    <th>Ver Pedido</th>
                    <th>Procesar Pedido</th>

                </tr>
            </thead>
            <tbody>


                <tr class="text-center" *ngFor="let item of PedidosInfo">

                    <td> {{item.id}}</td>
                    <td>{{item.infoCliente.Nombre}}</td>
                    <td>{{item.infoCliente.Apellidos}}</td>
                    <td> {{item.infoCliente.FechaPedido}}</td>
                    <td *ngIf="item.PedidoProcesado==false"> Pendiente</td>
                    <td> <button routerLink="/detallePedido" (click)="enviarPedido(item)" type="button" class="btn btn-danger"><i class="fas fa-eye"></i></button></td>
                    <td> <button type="button" (click)="Actualizar(item)" class="btn btn-danger"><i class="fas fa-check"></i></button></td>


                </tr>
            </tbody>
        </table>
    </div>




    <!-- Order Details End -->

</div>
<app-footer>

</app-footer>