<app-header></app-header>
<!-- Contact Start -->
<div class="contact-wrapper">

    <div class="ct-contact-map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3844.4564976576658!2d-88.03361998454284!3d15.513639958206005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f665b6a9fd45f85%3A0xd39f0b43b62d49c0!2sCrust%20-n-%20Crumb%20Pastry%20Coffee%20Shop!5e0!3m2!1ses!2shn!4v1615410469783!5m2!1ses!2shn"
            width="600" height="1000" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="">
        <div class="section section-padding">
            <div class="container">

                <div class="contact-info">

                    <div class="row">
                        <div class="col-xl-6">
                            <div class="ct-info-box">
                                <i class="flaticon-location"></i>
                                <h5>Find Us</h5>
                                <span>445 Mount Eden Road, Mount Eden</span>
                                <span>21 Greens Road RD 2 Ruawai 0592</span>
                                <span> +123 456 789 </span>
                                <span> info@example.com </span>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="ct-info-box">
                                <i class="flaticon-online-booking"></i>
                                <h5>Opening Hours</h5>
                                <span><span>Mon - Wed:</span> 8:00am - 8:00pm</span>
                                <span><span>Thu:</span> 8:00am - 5:00pm</span>
                                <span><span>Fri:</span> 8:00am - 8:00pm</span>
                                <span><span>Sat - Sun:</span> 8:00am - 2:00pm</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="section pt-0">
            <div class="container">

                <div class="section-title-wrap">
                    <h2 class="title">Send us a Message </h2>
                    <p class="subtitle">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. There are many variations of passages
                    </p>
                </div>

                <form (ngSubmit)="sendForm(form.value)" #form="ngForm">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <input type="text" placeholder="Nombres" class="form-control" name="nombre" ngModel>
                        </div>
                        <div class="form-group col-lg-6">
                            <input type="text" placeholder="Apellidos" class="form-control" name="apellido" ngModel>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="email" placeholder="Correo Electrónico" class="form-control" name="correo" ngModel>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" placeholder="Asunto" class="form-control" name="asunto" ngModel>
                        </div>
                        <div class="form-group col-lg-12">
                            <textarea name="mensaje" class="form-control" placeholder="Escriba aquí su comentario" ngModel rows="8"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn-custom primary" name="button">Send Message</button>
                </form>


            </div>
        </div>
    </div>

</div>
<app-footer></app-footer>