<!-- Cart Sidebar Start -->
<div class="scroll-container">
    <div class="cart-sidebar-wrapper sticky-top">
        <aside class="cart-sidebar ">
            <div class="cart-sidebar-header">
                <h3>Your Cart</h3>
                <div class="close-btn cart-trigger close-dark">
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="table-responsive-xl">

                <table class=" table table-bordered justify-content-start">

                    <tbody *ngFor="let item of Items">


                        <tr>

                            <td>{{item.items.Nombre}}</td>
                            <td>{{item.counter}}</td>
                            <td>{{item.Total}}</td>
                            <td><button type="button" class="btn btn-success" (click)="delete(item)">Success</button></td>


                        </tr>
                    </tbody>
                </table>
            </div>



            <div class="cart-sidebar-footer">
                <h4>Total: <span>299.99$</span> </h4>
                <a class="btn-custom">Checkout</a>
            </div>
        </aside>
        <div class="cart-sidebar-overlay cart-trigger">
        </div>
    </div>
</div>
<!-- Cart Sidebar End -->