.scroll-container {
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.Imagen {
    width: 150px;
    height: auto;
}

.tbody {
    height: 50px !important;
    overflow-y: scroll;
}

.my-tbody {
    height: 30px;
    display: block;
    overflow-y: scroll;
    width: 100%;
}

.vertical-scrollable {
    position: absolute;
    top: 120px;
    bottom: 100px;
    width: 100%;
    overflow-y: scroll;
}