<div class="container-fluid mt-5">
    <mat-tab-group>
        <!-- Perfil -->
        <mat-tab class="mt-1" label="Perfil">
            <form [formGroup]="userForm">
                <h4>Datos de su perfil</h4>
                <div class="mb-3 m-4">
                    <label for="nombre" class="form-label">Su nombre</label>
                    <input formControlName="Nombre" type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 m-4">

                    <label for="identidad" class="form-label">Su identidad</label>
                    <input formControlName="NoIdentidad" type="text" class="form-control" id="identidad" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 m-4">

                    <label for="celular" class="form-label">Su celular</label>
                    <input formControlName="NoTelefono" type="number" class="form-control" id="celular" aria-describedby="emailHelp">
                </div>
            </form>

            <button [disabled]="userForm.invalid" (click)="updateUserData()">Actualizar informacion</button>
        </mat-tab>
        <!-- Direcciones -->
        <mat-tab class="mt-1" label="Direcciones">
            <app-direcciones class="m-5"></app-direcciones>
        </mat-tab>
        <!-- Recupera tu contraseña -->
        <mat-tab class="mt-1" label="Recupera tu contraseña">

            <app-forgot-password class="m-5"></app-forgot-password>
        </mat-tab>
    </mat-tab-group>
</div>