<!-- Aside (Mobile Navigation) -->
<aside class="main-aside">
    <a class="navbar-brand Logo " routerLink='/'> <img src="assets/img/logo.png" alt="logo"> </a>

    <div class="aside-scroll">
        <ul>
            <li class="menu-item menu-item-has-children Relleno  ">
                <a href="# ">Home</a>
                <ul class="submenu ">
                    <li class="menu-item "> <a routerLink='/'>Home v1</a> </li>
                    <li class="menu-item "> <a routerLink='/home-v2'>Home v2</a> </li>
                    <li class="menu-item "> <a routerLink='/home-v3'>Home v3</a> </li>
                    <li class="menu-item "> <a routerLink='/home-v4'>Home v4</a> </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children ">
                <a href="# ">Blog</a>
                <ul class="submenu ">
                    <li class="menu-item menu-item-has-children ">
                        <a routerLink='/blog-grid'>Blog Archive</a>
                        <ul class="submenu ">
                            <li class="menu-item "> <a routerLink='/blog-grid'>Grid View</a> </li>
                            <li class="menu-item "> <a routerLink='/blog-list'>List View</a> </li>
                            <li class="menu-item "> <a routerLink='/blog-masonary'>Masonry</a> </li>
                            <li class="menu-item "> <a routerLink='/blog-full'>Full Width</a> </li>
                        </ul>
                    </li>
                    <li class="menu-item ">
                        <a routerLink='/blog-single'>Blog Single</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item menu-item-has-children ">
                <a href="# ">Pages</a>
                <ul class="submenu ">
                    <li class="menu-item "> <a routerLink='/about'>About Us</a> </li>
                    <li class="menu-item "> <a routerLink='/login'>Login</a> </li>
                    <li class="menu-item "> <a routerLink='/register'>Sign Up</a> </li>
                    <li class="menu-item "> <a routerLink='/checkout'>Checkout</a> </li>
                    <li class="menu-item "> <a routerLink='/cart'>Cart</a> </li>

                    <li class="menu-item "> <a routerLink='/legal'>Legal</a> </li>
                    <li class="menu-item "> <a href="404.html ">Error 404</a> </li>
                </ul>
            </li>

            <li class="menu-item ">
                <a routerLink='/menu-v1'>Menu</a>
            </li>
            <li class="menu-item ">
                <a routerLink='/locations'>Menu</a>
            </li>
            <li class="menu-item ">
                <a routerLink='/contact'>Contact Us</a>
            </li>
        </ul>

    </div>

</aside>
<div class="aside-overlay aside-trigger "></div>

<!-- Header Start -->
<header class="main-header header-1 position-sticky ">


    <div class="top-header ">
        <div class="container ">
            <div class="top-header-inner d-flex flex-row bd-highlight mb-3 ">

                <div class="top-header-contacts ">
                    <ul class="top-header-nav ">
                        <li> <a class="p-0 " routerLink='/login'><i class="fas fa-phone mr-2 "></i> +123 456 789</a> </li>
                    </ul>
                </div>

                <ul class="top-header-nav header-cta ">
                    <li *ngIf="!IsLogged">
                        <a routerLink='/login'> <i class="fas fa-user m-2"></i> INGRESE CON SU USUARIO </a>
                    </li>
                </ul>
                <ul class="top-header-nav header-cta ">
                    <li *ngIf="IsLogged">

                        <a (click)="onLogout()" style=" cursor: pointer;"> <i class="fas fa-user-times m-2"></i> Cerrar Sesión </a>
                    </li>
                </ul>
                <ul class="top-header-nav header-cta ">
                    <li *ngIf="IsLogged">
                        <a> <i class="fas fa-user m-2"></i>Bienvenido {{user?.email}} </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


    <div class="container position-sticky mt-5  ">
        <nav class="navbar ">
            <!-- Logo -->
            <a class="navbar-brand Logo " routerLink='/'> <img src="assets/img/logo.png " alt="logo "> </a>
            <!-- Menu -->
            <ul class="navbar-nav ">
                <li class="menu-item menu-item-has-children ">
                    <a href="# ">Home </a>
                    <ul class="submenu ">
                        <li class="menu-item "> <a routerLink='/'>Home v1</a> </li>
                        <li class="menu-item "> <a routerLink='/home-v2'>Home v2</a> </li>
                        <li class="menu-item "> <a routerLink='/home-v3'>Home v3</a> </li>
                        <li class="menu-item "> <a routerLink='/home-v4'>Home v4</a> </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children ">
                    <a href="# ">Blog</a>
                    <ul class="submenu ">
                        <li class="menu-item menu-item-has-children ">
                            <a routerLink='/blog-grid'>Blog Archive</a>
                            <ul class="submenu ">
                                <li class="menu-item "> <a routerLink='/blog-grid'>Grid View</a> </li>
                                <li class="menu-item "> <a routerLink='/blog-list'>List View</a> </li>
                                <li class="menu-item "> <a routerLink='/blog-masonary'>Masonry</a> </li>
                                <li class="menu-item "> <a routerLink='/blog-full'>Full Width</a> </li>
                            </ul>
                        </li>
                        <li class="menu-item ">
                            <a routerLink='/blog-single'>Blog Single</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children ">
                    <a href="# ">Pages</a>
                    <ul class="submenu ">
                        <li class="menu-item "> <a routerLink='/about'>About Us</a> </li>
                        <li class="menu-item "> <a routerLink='/login'>Login</a> </li>
                        <li class="menu-item "> <a routerLink='/register'>Sign Up</a> </li>
                        <li class="menu-item "> <a routerLink='/checkout'>Checkout</a> </li>
                        <li class="menu-item "> <a routerLink='/cart'>Cart</a> </li>

                        <li class="menu-item "> <a routerLink='/legal'>Legal</a> </li>
                        <li class="menu-item "> <a href="404.html ">Error 404</a> </li>
                    </ul>
                </li>

                <li class="menu-item ">
                    <a routerLink='/menu-v1'>Menú</a>
                </li>

                <li class="menu-item ">
                    <a routerLink='/locations'>Locations</a>
                </li>
                <li class="menu-item ">
                    <a routerLink='/contact'>Contact Us</a>
                </li>
            </ul>

            <div class="header-controls ">
                <ul class="header-controls-inner ">
                    <li class="cart-dropdown-wrapper cart-trigger ">
                        <span class="cart-item-count ">{{conteoPedidos}}</span>
                        <i class="flaticon-shopping-bag "></i>
                    </li>
                    <li class="search-dropdown-wrapper search-trigger ">
                        <i class="flaticon-search "></i>
                    </li>
                </ul>
                <!-- Toggler -->
                <div class="aside-toggler aside-trigger ">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

        </nav>
    </div>

</header>
<!-- Header End -->