.Relleno {
    background-color: white;
}

.Logo {
    width: 300px;
    height: auto;
}

.imagePerfil {
    width: 60px;
    height: auto;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .Logo {
        width: 150px;
        height: auto;
        margin-top: -1px;
    }
}