<div class="banner banner-1 bg-cover">

    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto" proportion="30" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of DepartamentosFotos; let i = index" [image]="slide.src" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>


    <div class="banner-slider-nav d-none d-sm-none d-md-block">
        <div class="container">

            <!-- Arrow -->
            <i class="slider-prev fas fa-arrow-left slick-arrow"></i>

            <div class="banner-slider-nav-inner">

                <div class="banner-nav-item">
                    <div class="banner-nav-item-inner">
                        <img src="assets/img/prods/3.png" alt="pizza">
                        <div class="banner-nav-item-body">
                            <h5>Hola</h5>
                            <span>$10.99</span>
                        </div>
                    </div>
                </div>

                <div class="banner-nav-item">
                    <div class="banner-nav-item-inner">
                        <img src="assets/img/prods/5.png" alt="pizza">
                        <div class="banner-nav-item-body">
                            <h5>Ham & Cheese</h5>
                            <span>$17.99</span>
                        </div>
                    </div>
                </div>

                <div class="banner-nav-item">
                    <div class="banner-nav-item-inner on-sale">
                        <div class="sale">
                            <div class="sale-inner">
                                Offer
                            </div>
                        </div>
                        <img src="assets/img/prods/2.png" alt="pizza">
                        <div class="banner-nav-item-body">
                            <h5>Vegetarian</h5>
                            <span>$9.99</span>
                            <span>$6.99</span>
                        </div>
                    </div>
                </div>

                <div class="banner-nav-item">
                    <div class="banner-nav-item-inner">
                        <img src="assets/img/prods/1.png" alt="pizza">
                        <div class="banner-nav-item-body">
                            <h5>Pepperoni</h5>
                            <span>$12.99</span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Arrow -->
            <i class="slider-next fas fa-arrow-right slick-arrow"></i>

        </div>
    </div>

</div>
<!-- Banner End -->

<!-- About us start -->
<div class="section">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6 mb-lg-30 ct-single-img-wrapper">
                <img src="assets/img/auth.jpg" alt="img">
                <div class="ct-dots"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h5 class="custom-primary">Sir Slice's Heritage</h5>
                    <h2 class="title">Serving Pizzas By The Slice Since 1987</h2>
                    <p class="subtitle">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </p>
                    <p class="subtitle">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <div class="signature">
                        <img src="assets/img/signature.png" alt="signature">
                    </div>
                    <a routerLink='/menu-v1' class="btn-custom">Check our Menu</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- About us End -->

<!-- Categories Start -->
<div class="ct-categories">

    <!-- Category Start -->
    <div class="ct-category">
        <div class="ct-category-bg" style="background-image: url('assets/img/categories-lg/4.jpg')"></div>
        <div class="ct-category-content">
            <div class="ct-category-content-inner">

                <div class="section-title-wrap section-header">
                    <h5 class="custom-primary">Pizza Menu</h5>
                    <h2 class="title">Our Passion, Our Heritage, Our Pizzas </h2>
                    <p class="subtitle">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    </p>
                </div>

                <!-- Menu Start -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Pepperoni Pizza</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">14.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Four Cheese</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">13.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Vegetarian</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">9.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Barbeque Chicken</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">13.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Ham & Cheese</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">11.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Specialty Pizza</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">10.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Menu End -->

            </div>
        </div>
    </div>
    <!-- Category End -->

    <!-- Category Start -->
    <div class="ct-category">
        <div class="ct-category-content">
            <div class="ct-category-content-inner">

                <div class="section-title-wrap section-header">
                    <h5 class="custom-primary">Pasta Menu</h5>
                    <h2 class="title">Did Someone Say Italian Food?</h2>
                    <p class="subtitle">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                    </p>
                </div>

                <!-- Menu Start -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Pesto Pasta</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">14.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Fettucini</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">13.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Chicken Alfredo</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">9.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Linguini</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">13.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Mac & Cheese</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">11.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ct-mini-menu-item">
                            <div class="ct-mini-menu-top">
                                <h5>Italian Specialty</h5>
                                <div class="ct-mini-menu-dots"></div>
                                <span class="custom-primary">10.99$</span>
                            </div>
                            <div class="ct-mini-menu-bottom">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Menu End -->

            </div>
        </div>
        <div class="ct-category-bg" style="background-image: url('assets/img/categories-lg/5.jpg')"></div>

    </div>
    <!-- Category End -->

</div>
<!-- Categories End -->







<!-- Instagram Start -->
<div class="row no-gutters mt-3">
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
        <a href="#" class="ct-ig-item">
            <img src="assets/img/ig/1.jpg" alt="ig">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
        <a href="#" class="ct-ig-item">
            <img src="assets/img/ig/2.jpg" alt="ig">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
        <a href="#" class="ct-ig-item">
            <img src="assets/img/ig/3.jpg" alt="ig">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
        <a href="#" class="ct-ig-item">
            <img src="assets/img/ig/4.jpg" alt="ig">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
        <a href="#" class="ct-ig-item">
            <img src="assets/img/ig/5.jpg" alt="ig">
        </a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-6 p-0">
        <a href="#" class="ct-ig-item">
            <img src="assets/img/ig/6.jpg" alt="ig">
        </a>
    </div>
</div>
<!-- Instagram End -->