<div class="product animate__animated animate__bounceInUp  ">
    <a class="product-thumb " routerLink='/menu-item-v1'> <img [src]="product.Imagen" alt="menu item " /> </a>
    <div class="product-body ">
        <div class="product-desc ">
            <h4> <a routerLink='/menu-item-v1'>{{product.Nombre}}</a> </h4>
            <p>{{product.Descripcion}}</p>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Tamaños</label>
                <select [(ngModel)]="selectedSize" class="form-control">
                    <option *ngFor="let size of product.Size">{{size.Size}}</option>
                </select>
            </div>
            <div (click)="sumProductos()"></div>
            <button [disabled]="!hayCantidad" type="button" class="btn btn-danger m-1" (click)="restarProducto()"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-danger m-2" (click)="sumProductos()"><i class="fas fa-plus"></i></button>
            <div> {{counter}} </div>

            <p class="product-price ">{{getPrice()?.Precio | currency: 'L. '}}</p>

        </div>
        <div class="product-controls  ">
            <!-- <a   class="order-item btn-custom btn-sm shadow-none ">Ordenar </a> -->
            <button (click)="traerProducto(product)" [disabled]="!hayCantidad" type="button" class="btn btn-danger">Ordenar <i class="fas fa-shopping-cart "></i> </button>
            <!-- <a href="# " class="btn-custom secondary btn-sm shadow-none " data-toggle="modal " data-target="#customizeModal "> Customize <i class="fas fa-plus "></i> </a> -->
        </div>
    </div>
</div>